---
import "@/styles/tailwind.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LLM One Shots Club</title>

    <link rel="canonical" href="https://llmoneshots.club">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="LLM One Shots Club">
    <meta property="og:title" content="LLM One Shots Club">
    <meta property="og:description" content="Code or your LLM one shot didn't happen.">
    <meta property="og:url" content="https://llmoneshots.club/index.html">
    <meta property="og:image" content="https://llmoneshots.club/llm-one-shots-logo.png">
    <meta property="og:image:width" content="541">
    <meta property="og:image:height" content="359">
    <meta property="og:image:alt" content="Robot with arms and no head on a table.">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="LLM One Shots Club">
    <meta name="twitter:description" content="Code or your LLM one shot didn't happen.">
    <meta name="twitter:image" content="https://llmoneshots.club/llm-one-shots-logo.png">
    <meta name="twitter:image:alt" content="Robot with arms and no head on a table.">
  </head>

  <body class="min-h-dvh antialiased bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100">
    <div class="mx-auto w-full max-w-4xl">
      <section class="text-center p-2">
        <p class="mt-12 text-3xl md:text-4xl font-semibold md:font-bold">Have you done an LLM one shot yet?</p>
        <p class="mt-8 md:text-6xl text-4xl font-semibold animate-text-splash">Join The</p>
        <h1 class="mb-12 md:text-8xl text-6xl font-semibold animate-text-splash">
          LLM One Shots Club
        </h1>
      </section>

      <section>
        <h2 class="hder">Show Your Jewels!</h2>
        <div class="pgph">
          <ol class="ost">
            <li><p>Read a tutorial by <a class="hover:font-bold underline underline-offset-4"
                href="https://xcancel.com/karpathy/status/2015883857489522876">[
                "LLM luminary", Andrej Karpathy ]</a> or <a class="hover:font-bold underline underline-offset-2"
            href="https://steve-yegge.medium.com/welcome-to-gas-town-4f25ee16dd04">[
            "LLM wrangler extraordinaire", Steve Yegge ]</a>!</p></li>
            <li><p>Do your best LLM one shot! (Or more shot, who's counting?)</p></li>
            <li><p>Submit your beauty to <a href="mailto:idida@llmoneshots.club"><strong>idida@llmoneshots.club</strong></a></p></li>
          </ol>
        </div>
      </section>

      <section>
        <h2 class="hder">The Fun is Just Beginning!</h2>
        <div class="pgph">
          <p>Doing an LLM One Shot is just the start! Let's check 'em!</p>
          <ul class="ust">
            <li><p><span class="hlght">README?</span> (<em>Optional</em> Who needs to know how it works?!)</p></li>
            <li><p><span class="hlght">Tests?</span> (<em>Optional</em> It does what it does, right?);</p></li>
            <li><p><span class="hlght">Time spent?</span> (<em>Optional</em> It's so fast, who is even counting?);</p></li>
            <li><p><span class="hlght">Money spent?</span> (<em>Optional</em> Money is just a social construct!);</p></li>
            <li><p><span class="hlght">Users?</span> (<em>Optional</em> Eh, what?);</p></li>
            <li><p><span class="hlght">Contributors?</span> (<em>Optional</em> Uh duh, LLMs bro?);</p></li>
            <li><p><span class="hlght">Money earned?</span> (<em>Optional</em> That's for the boss to figure out, bro!);</p></li>
          </ul>
        </div>
      </section>

      <section>
        <h2 class="hder">One Shot or Not?</h2>
        <div class="pgph">
          <p>Don't let the LLMs have all the fun!</p>
          <p>Bring your best human effort and see if the critical eyes of the LLM
          One Shots Club community can tell you apart from a liebot!</p>
          <p>Special prizes may be available! Can you fool a human into
          thinking your not an LLM?!<p>
        </div>
      </section>

      <section>
        <h2 class="hder">Star and Rate Them!</h2>
        <div class="pgph">
          <p>No one should be left out. There are enough stars for everyone!<p>
          <p>Star and comment on the LLM One Shot submissions!</p>
          <p>But remember to keep it respectful and considerate of the LLM's
          feelings! You're not just dealing with sensitive humans here!</p>
        </div>
      </section>

      <section>
        <h2 class="hder">Tell Your Mom!</h2>
        <div class="pgph">
          <p>You may be surprised, but your mom and dad probably did their
          share of LLM One Shots back in the day. Don't be shy, this is your time
          to bond as a family!</p>
        </div>
      </section>

      <section>
        <h2 class="hder">Disclaimer!</h2>
        <div class="pgph">
          <p>Not all steps recommended for all users. No warranties express nor implied are made as to the usability or fitness for a particular purpose.</p>
          <p>No purchase necessary to participate. Not all entries win prizes. Void where prohibited.</p>
          <p>The foregoing does not constitute medical advice and there is no known cure for LLM-syndrome or related diseases of the thinking faculties.</p>
          <p>No LLMs or animals are known to have been harmed in the creation of these site except for those harmed by the hundreds of billions of dollars and significant increases in green house gasses produced by companies indiscriminately using GPUs or the threat of GPUs or their use to flawlessly but fraudulently inflate their stock prices if any companies actually did that.</p>
          <p>All persons named are fictitious and bear no resemblance express or implied to any actual figures, whether they be extraordinary or luminous or otherwise, that exist in the presently known universe of intelligent beings.</p>
        </div>
      </section>

      <footer class="text-xl mt-10">
        <p>Copyright &copy; 2026. All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
